.*
.vscode/
coverage/
dist/
node_modules/
readme-assets/
ms-vscode.js-debug/
docker-*.sh
*.md
*.json
CODEOWNERS
Dockerfile

bin/

__mocks__
**/__mocks__
**/mock
*.test.ts

!package*.json
!swagger.json
!tsconfig.json
!tsconfig.prod.json
